body {background-color: rgb(75, 238, 238);
    margin-top: 0pt; margin-bottom: 0pt;}
#pg1p {background-color: yellow;}
#navbar {background-color: green}
._navlink {background-color: tan;}
#headshot  img {max-width: 25%; max-width: auto;}
#footbar {background-color: thistle}